* {
   outline: 1px solid blueviolet;
}
@mixin breakpoint($point) {
   @if $point == lg {
      @media (max-width: 992px){
         @content;
     }
  }
   @else if $point == md {
      @media (max-width: 765px){
         @content;
     }
  }
   @else if $point == sm {
      @media (max-width: 575px){
         @content;
     }
  }
   @else if $point == xs {
      @media (max-width: 370px){
         @content;
     }
  }
   @else if $point == xl {
      @media (max-width: 1024px){
         @content;
     }
  }
   @else if $point == xxl {
      @media (max-width: 1366px){
         @content;
     }
  }
}
*, ::after, ::before {
   box-sizing: border-box;
}
body {
   font-size: 14px;
   font-family: 'Montserrat';
}
@font-face {
   font-family: 'Montserrat';
   font-weight: 500;
   src: url(../font/Montserrat-Medium.ttf);
}
@font-face {
   font-family: 'Montserrat';
   font-weight: 700;
   src: url(../font/Montserrat-SemiBold.ttf);
}
@font-face {
   font-family: 'Montserrat';
   font-weight: 800;
   src: url(../font/Montserrat-ExtraBold.ttf);
}
@font-face {
   font-family: 'ProximaNova';
   font-weight: 500;
   src: url(../font/ProximaNova-Regular.ttf);
}
.container {
   max-width: 1920px;
   width: 100%;
}
.inner{
   margin: 0 198px 0 188px;
   @include breakpoint (xxl) {
      margin: 0 156px 0 88px;
      width: auto;
  }
   @include breakpoint (xl) {
      margin: 0 75px 0 85px;
  }
   @include breakpoint (lg) {
      margin: 0 50px;
  }
   @include breakpoint (md) {
      margin: 0 72px 0 19px;
      min-width: 527px;
  }
   @include breakpoint (sm) {
      margin: 0 13px 0 16px;
      min-width: auto;
  }
}
.wrapper {
   margin: 0 172px 0 188px;
   @include breakpoint (xxl) {
      margin: 0 156px 0 88px;
      width: auto;
  }
   @include breakpoint (xl) {
      margin: 0 75px 0 85px;
  }
   @include breakpoint (lg) {
      margin: 0 50px;
  }
   @include breakpoint (md) {
      margin: 0 50px;
  }
   @include breakpoint (sm) {
      margin: 0 24px;
  }
}
.header {
   font-size: 14px;
   line-height: 17px;
   margin-top: 24px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
   z-index: 10;
   position: relative;
   @include breakpoint (md) {
      flex-direction: row;
  }
   @include breakpoint (sm) {
      margin-top: -5px;
      padding-bottom: 13px;
  }
   &__logo {
      &-picture {
         width: 28px;
         height: 28px;
         margin-right: 10px;
         margin-left: -4px;
         margin-top: 0;
         @include breakpoint (md) {
            width: 27px;
        }
         @include breakpoint (sm) {
            width: 14px;
            margin-right: 5px;
        }
     }
      &-first {
         margin-bottom: 1px;
         width: 275px;
         height: 44px;
         @include breakpoint (sm) {
            width: 150px;
        }
     }
      &-double {
         width: 180px;
         height: 9px;
         margin-top: -2px;
         margin-left: -7px;
         @include breakpoint (sm) {
            display: none;
        }
     }
  }
   &__info {
      width: 257px;
      margin-left: 41px;
      margin-top: -4px;
      @include breakpoint (xxl) {
         display: none !important;
     }
      &-item {
         text-decoration: none;
         color: black;
         transition: 0.4s;
         position:relative;
         font-size: 14px;
         margin-right: 28px;
         &-star {
            margin-right: -6px;
        }
     }
      &-item:hover {
         color: gold;
     }
      &-item:before {
         content:'';
         position: absolute;
         height: 1px;
         background: linear-gradient(0deg, #E6E6E6, #E6E6E6), linear-gradient(0deg, #D1D1D1, #D1D1D1), #4633B9;
         top:110%;
         animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
     }
      &-item:hover::before{
         animation:out 0.4s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
         background: linear-gradient(0deg, #E6E6E6, #cab70a);
     }
      @keyframes in{
         0%{
            width: 0;
            left:0;
            right:auto;
        }
         100%{
            left:0;
            right:auto;
            width: 100%;
        }
     }
      @keyframes out{
         0%{
            width:100%;
            left: auto;
            right: 0;
        }
         100%{
            width: 0;
            left: auto;
            right: 0;
        }
     }
      @keyframes show{
         0%{
            opacity:0;
            transform:translateY(-10px);
        }
         100%{
            opacity:1;
            transform:translateY(0);
        }
     }
      @for $i from 1 through 5 {
         nav a:nth-child(#{
            $i 
        }
         ){
            animation:show .2s #{
               $i*0.1+1 
           }
            s ease 1 both;
        }
     }
  }
}
.header {
   &__star {
      margin-left: -6px;
      margin-right: 7px;
  }
   &__contact {
      margin-top: -8px;
      @include breakpoint (xl) {
         margin-top: 4px;
     }
      @include breakpoint (md) {
         margin-top: 1px;
     }
      @include breakpoint (sm) {
         margin-top: 13px;
     }
  }
   &__information {
      margin-top: 5px;
  }
   &__hours {
      font-size: 15px;
      letter-spacing: -0.3px;
      margin-bottom: 10px;
      @include breakpoint (xl) {
         font-size: 12px;
         letter-spacing: 0.1px;
         margin-bottom: 4px;
     }
      @include breakpoint (sm) {
         display: none;
     }
      &-decor {
         width: 10px;
         height: 10px;
         margin-right: -7px;
         @include breakpoint (sm) {
            display: none;
        }
     }
  }
   &__telephone {
      font-weight: 800;
      font-size: 26px;
      line-height: 32px;
      color: black;
      text-decoration: none;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      position: relative;
      margin-top: -5px;
      @include breakpoint (xxl) {
     }
      @include breakpoint (xl) {
         font-size: 18px;
     }
      @include breakpoint (sm) {
         font-size: 16px;
         font-weight: 600;
         display: none;
     }
      &-sm {
         display: none;
         @include breakpoint (sm) {
            display: contents;
            color: black;
            font-size: 16px;
            font-weight: 600;
        }
     }
      &-sm:hover {
         opacity: 0.5;
     }
  }
   &__telephone:hover {
      color: black;
      opacity: 0.7;
      letter-spacing: 1.2px;
      @include breakpoint (sm) {
         letter-spacing: 0px;
     }
  }
   &__telephone:before {
      content: "";
      position: absolute;
      margin-left: -24px;
      top: 4px;
      width: 22px;
      height: 22px;
      background-image: url(../svg/telephone.svg);
      background-size: contain;
      background-repeat: no-repeat;
      transition: 0.4s;
      transition-property: all;
      @include breakpoint (xxl) {
         margin-left: -29px;
         top: 3px;
     }
      @include breakpoint (xl) {
         margin-left: -24px;
         top: 5px;
         width: 20px;
         height: 20px;
     }
      @include breakpoint (sm) {
         display: none;
     }
  }
   &__telephone:hover::before {
      transform: translateX(-40%) rotate(-5deg);
  }
   &__shadow {
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
}
.line {
   background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #F0F2F4;
   opacity: 0.05;
   margin-top: 20px;
   margin-bottom: 9px;
   @include breakpoint (xxl) {
      margin-bottom: 12px;
  }
   @include breakpoint (xl) {
      margin-bottom: 8px;
  }
   @include breakpoint (sm) {
      display: none;
  }
}
.nav {
   width: 100%;
   margin-top: 5px;
   margin-right: 42px;
   @include breakpoint (xxl) {
      margin-top: 0;
      margin-right:6px;
  }
   @include breakpoint (md) {
      margin-right: 3px;
  }
   &__title {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
  }
   &__items {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;
      padding-bottom: 20px;
      min-width: 990px;
      @include breakpoint (xxl) {
         min-width: auto;
     }
      @include breakpoint (xl) {
         margin-right: 30px;
         min-width: 670px;
     }
      @include breakpoint (md) {
         margin-right: 9px;
         min-width: 528px;
     }
      @include breakpoint (sm) {
         display: none;
     }
  }
   &__item {
      text-decoration: none;
      color: black;
      transition: 0.4s;
      font-size: 17px;
      &-link {
         color: black;
         text-decoration: none;
         margin-left: -5px;
         margin-right: 20px;
         @include breakpoint (xxl) {
            margin-left: 22px;
            margin-right: -1px;
            font-size: 14px;
        }
     }
      &-link:hover {
         color: black;
     }
  }
   &__item:hover {
      color: black;
  }
   &__icon {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      &-double {
         width: 28px;
         height: 25px;
         margin-right: 9px;
         @include breakpoint (xxl) {
            width: 26px;
            height: 26px;
            margin-right: -11px;
        }
         @include breakpoint (xl) {
            margin-right: -15px;
        }
         @include breakpoint (md) {
            width: 21px;
            height: 21px;
            margin-right: -17px;
        }
     }
  }
}
.navbar-toggler-icon {
   transition: 0.4s;
   margin-left: -4px;
}
.navbar-toggler-icon:hover {
   opacity: 0.7;
}
.dropdown-toggle::after {
   margin-left: 0.1em;
   vertical-align: 0.255em;
   content: "";
   transition: 0.4s;
   background-image: url(../svg/bottomList.svg);
   position: absolute;
   top: 8px;
   width: 21px;
   height: 10px;
   background-size: contain;
   background-repeat: no-repeat;
   border-top: 0;
   @include breakpoint (xxl) {
      margin-left: 0.4em;
      top: 9px;
      width: 18px;
      height: 10px;
  }
   @include breakpoint (md) {
      display: none;
  }
}
.dropdown-toggle:hover::after{
   margin-top:5px;
}
.dropdown-menu {
   margin-top: 150px;
   background-color: rgb(253, 253, 253);
   border-radius: 15px;
}
.dropdown {
   &-item {
      @include breakpoint (xxl) {
         font-size: 14px;
     }
  }
}
.accordion-button {
   font-size: 14px;
   line-height: 17px;
   margin-left: 20px;
   max-width: 250px;
}
.accordion-button:not(.collapsed) {
   background-color:white;
   color: black;
}
.accordion-button:focus, .accordion-button:hover, .accordion-button:active, .accordion-button:visited {
   box-shadow: none;
   color: black;
}
.accordion-button:not(.collapsed)::after {
   background: none;
}
.mobil-header {
   margin-top: 4px;
}
.mobilMenu {
   &__items {
      &-apple, &-smartfons, &-pad, &-notebook {
         position: relative;
     }
      &-apple:before, &-smartfons:before, &-pad:before, &-notebook:before, &-playstation:before {
         content: "";
         position: absolute;
         margin-left: -40px;
         top: 10px;
         width: 25px;
         height: 25px;
         background-size: contain;
         background-repeat: no-repeat;
     }
      &-apple:before {
         background-image: url(../svg/apple.png);
     }
      &-smartfons:before {
         background-image: url(../svg/devices.svg);
     }
      &-pad:before {
         background-image: url(../svg/pad.svg);
     }
      &-notebook:before {
         background-image: url(../svg/nout.svg);
     }
      &-playstation:before {
         background-image: url(../svg/playstation.svg);
         top: 15px;
     }
      &-apple:after, &-smartfons:after, &-pad:after, &-notebook:after, &-playstation:after {
         content: "";
         position: absolute;
         top: 16px;
         width: 15px;
         height: 15px;
         background-image: url(../svg/right.svg);
         background-size: contain;
         background-repeat: no-repeat;
         transition: 0.4s;
     }
      &-apple:after {
         margin-left: 110px;
     }
      &-smartfons:after {
         margin-left: 160px;
     }
      &-pad:after {
         margin-left: 150px;
     }
      &-notebook:after {
         margin-left: 145px;
     }
      &-playstation:after {
         margin-left: 213px;
     }
      &-apple:hover::after, &-smartfons:hover::after, &-pad:hover::after, &-notebook:hover::after, &-playstation:hover::after {
         transform: rotate(90deg);
         top: 20px;
     }
      &-apple:hover::visited, &-smartfons:hover::visited, &-pad:hover::visited, &-notebook:hover::visited, &-playstation:hover::after {
         transform: rotate(90deg);
     }
  }
   &__box {
      margin-left: 50px;
  }
   &__item {
      color: black;
      margin: 5px 0;
      text-decoration: none;
      transition: 0.4s;
  }
   &__item:hover {
      color: black;
      opacity: 0.7;
  }
}
.offcanvas {
   background-image: url(../svg/decore-gold.svg);
   background-repeat: no-repeat;
   background-position-x: right;
}
.offcanvas-header .btn-close {
   margin-top: -30px;
   margin-right: 15px;
   opacity: 1;
   transition: 0.4s;
}
.btn-close:hover {
   background-size: 16px;
   transform: rotate(45deg);
}
.btn-close:focus, .btn-closen:active, .btn-close:visited {
   box-shadow: none;
   color: black;
}
.btn-call {
   background: linear-gradient(270deg, #FFCC00 0%, #FFA300 100%);
   border-radius: 70px;
   border: none;
   padding: 8px 15px;
   display: none;
   @include breakpoint (sm) {
      display: block;
      margin-right: 5px;
  }
   &-link {
      font-weight: 600;
      text-decoration: none;
      color: white;
      transition: 00.4s;
  }
   &-link:hover {
      color: rgba(0, 0, 0, 0.562);
      font-weight: 700;
  }
}
.main-1920 {
   display: block;
   @include breakpoint (sm) {
      display: none;
  }
}
.main-375 {
   display: none;
   @include breakpoint (sm) {
      display: block;
      display: flex;
      justify-content: space-between;
  }
}
.main {
   background: linear-gradient(180deg, #fbfbfb 118%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
   padding-bottom: 15px;
   @include breakpoint (sm) {
      margin-left: -4px;
      margin-top: -13px;
  }
   &-right {
      @include breakpoint (sm) {
         margin-left: 5px;
     }
  }
   &__title{
      font-weight: 800;
      font-size: 81px;
      margin-top: 113px;
      line-height: 89px;
      letter-spacing: -1px;
      margin-bottom: 54px;
      &-link:before {
         content: "";
         position: absolute;
         margin-left: -23px;
         top: 26px;
         width: 13px;
         height: 18px;
         background: url(../svg/right-white.svg) no-repeat;
         @include breakpoint (xl) {
            background-size: 75%;
            margin-left: -20px;
            top: 28px;
            width: 10px;
            height: 17px;
        }
     }
      @include breakpoint (xxl) {
         margin-top: 79px;
         font-size: 70px;
         line-height: 73px;
         letter-spacing: 1px;
         margin-bottom: 59px;
     }
      @include breakpoint (xl) {
         font-size: 50px;
         letter-spacing: 0px;
         margin-bottom: 37px;
         line-height: 52px;
         margin-top: 75px;
     }
      @include breakpoint (lg) {
         line-height: 50px;
     }
      @include breakpoint (sm) {
         font-size: 26px;
         margin-top: 72px;
         margin-bottom: 32px;
         width: 100%;
         line-height: 28px;
     }
  }
   &__text {
      font-size: 25px;
      line-height: 124%;
      letter-spacing: 0.7px;
      margin-bottom: 43px;
      max-width: 700px;
      &-guarantee{
         @include breakpoint (md) {
            display: none;
        }
     }
      @include breakpoint (xxl) {
         font-size: 20px;
         letter-spacing: 0.25px;
         margin-bottom: 42px;
     }
      @include breakpoint (xl) {
         font-size: 16px;
         margin-bottom: 12px;
         letter-spacing: 0px;
     }
      @include breakpoint (md) {
         width: 289px;
     }
      @include breakpoint (sm) {
         font-size: 14px;
         width: 100%;
         margin-bottom: 9px;
     }
  }
   &__btn {
      background: url(../svg/btn-fon.svg) no-repeat;
      width: 423px;
      margin-bottom: 34px;
      height: 100px;
      border: none;
      background-position-y: 4px;
      background-position-x: -10px;
      position: relative;
      @include breakpoint (xxl) {
         background: url(../svg/btn-fon-1366.svg) no-repeat;
         background-position-y: 9px;
         background-position-x: -10px;
         margin-bottom: 30px;
     }
      @include breakpoint (xl) {
         background: url(../svg/btn-fon-1024.svg) no-repeat;
         background-position-y: 14px;
         background-position-x: -10px;
         margin-bottom: 11px;
     }
      @include breakpoint (sm) {
         background: url(../svg/btn-fon-375.svg) center center no-repeat;
         max-width: 326px;
         margin-bottom: 0;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%);
         margin-top: 48px;
         height: 75px;
         margin-bottom: -24px;
     }
      &-link {
         margin-right: -13px;
         font-size: 18px;
         font-weight: 700;
         color: white;
         text-decoration: none;
         position: relative;
         -webkit-transition: 0.4s;
         transition: 0.4s;
         padding: 25px 50px;
         @include breakpoint (xxl) {
            font-size: 16px;
            margin-right: 61px;
        }
         @include breakpoint (xl) {
            font-size: 14px;
            margin-right: 121px;
            padding: 25px;
        }
         @include breakpoint (sm) {
            font-size: 14px;
            padding: 13px;
            position: absolute;
            left: 69px;
            top: 24px;
            padding: 0;
            margin: 0;
        }
     }
      &-link:hover {
         opacity: 0.5;
         color: white;
     }
      &-link:before {
         content: "";
         position: absolute;
         margin-left: -25px;
         top: 28px;
         width: 36px;
         height: 23px;
         background: url(../svg/right-white.svg) no-repeat;
         @include breakpoint (xl) {
            background-size: 75%;
            margin-left: -20px;
            top: 28px;
            width: 10px;
            height: 17px;
            @include breakpoint (sm) {
               margin-left: -22px;
               top: 3px;
               width: 10px;
           }
        }
     }
  }
   &__img {
      width: 130%;
      margin-left: 19px;
      min-height: 100%;
      background: url(../img/main.png) no-repeat;
      @include breakpoint (xxl) {
         width: 120%;
         margin-left: 63px;
         background: url(../img/main-1366.png) no-repeat;
     }
      @include breakpoint (xl) {
         width: 113%;
         margin-left: 43px;
         background-size: 114% 89%;
     }
      @include breakpoint (lg) {
         width: 105%;
     }
      @include breakpoint (md) {
         width: 148%;
         margin-left: -48px;
         background: url(../img/main-768.png) no-repeat;
     }
      @include breakpoint (md) {
         background: none;
         width: 100%;
         margin: 0 auto;
         padding: 0;
     }
      &-block768 {
         display: none;
         @include breakpoint (md) {
            display: block;
            height: auto;
            position: absolute;
            width: calc(100% - 385px);
            right: 26px;
        }
         @include breakpoint (sm) {
            display: none;
        }
     }
      &-block375 {
         display: none;
         @include breakpoint (sm) {
            display: block;
            width: 145px;
            height: 230px;
            margin-left: 14px;
            margin-top: 14px;
            margin-right: -24px;
        }
     }
  }
   &__info {
      font-size: 20px;
      line-height: 140%;
      margin: 0;
      letter-spacing: -0.1px;
      &-pretext {
         display: none;
         @include breakpoint (md) {
            display: contents;
        }
         @include breakpoint (sm) {
            margin-left: 7px;
        }
     }
      @include breakpoint (xxl) {
         font-size: 16px;
         letter-spacing: 1.3px;
         line-height: 26px;
     }
      @include breakpoint (xl) {
         font-size: 14px;
         letter-spacing: 0px;
         line-height: 19px;
     }
      @include breakpoint (md) {
         margin-top: -5px;
     }
      @include breakpoint (sm) {
         margin-left: -7px;
     }
  }
   &__icon {
      margin-left: 13px;
      margin-right: 26px;
      width: 51px;
      @include breakpoint (xxl) {
         margin-left: 6px;
         margin-right: 31px;
         width: 53px;
     }
      @include breakpoint (xl) {
         margin-left: 5px;
         margin-right: 23px;
         width: 37px;
     }
      @include breakpoint (md) {
         margin-right: 31px;
     }
      @include breakpoint (sm) {
         margin-right: 9px;
         width: 38px;
         margin-top: 1px;
         margin-bottom: 25px;
     }
  }
   &__items {
      margin-bottom: 120px;
      margin-right: 23px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @include breakpoint (xxl) {
         margin-right: -85px;
     }
      @include breakpoint (xl) {
         margin-right: -53px;
     }
      @include breakpoint (md) {
         margin: 0;
         max-width: 290px;
     }
      @include breakpoint (sm) {
         margin-bottom: 0;
         margin-right: 0;
         min-width: 100%;
         margin: 0 auto;
         margin-bottom: -3px;
         margin-left: 9px;
     }
  }
   &__box {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 46px;
      @include breakpoint (xxl) {
         margin-bottom: 48px;
     }
      @include breakpoint (xl) {
         margin-bottom: 34px;
     }
      @include breakpoint (md) {
         flex-direction: column;
         margin-bottom: 0;
     }
      @include breakpoint (sm) {
         flex-direction: row;
         margin-bottom: -10px;
         justify-content: space-around;
     }
  }
   &__item {
      width: 100%;
      margin-right: 53px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include breakpoint (xxl) {
         margin-right: 24px;
     }
      @include breakpoint (xl) {
         margin-right: 18px;
     }
      @include breakpoint (md) {
         margin-bottom: 44px;
     }
      @include breakpoint (md) {
         flex-direction: row;
     }
      @include breakpoint (sm) {
         max-width: 150px;
         text-align: center;
         flex-direction: column;
         justify-content: start;
     }
  }
   &__count {
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 10px 30px -6px rgba(35, 25, 4, 0.15);
      border-radius: 100px;
      background-color: white;
      padding: 20px 40px;
      width: 464px;
      height: 101px;
      position: absolute;
      bottom: 140px;
      right: 120px;
      @include breakpoint (xxl) {
         right: 110px;
         width: 298px;
         bottom: 182px;
         height: 61px;
         padding: 13px 23px 10px 23px;
     }
      @include breakpoint (xl) {
         right: 17px;
         bottom: 302px;
         width: 297px;
     }
      @include breakpoint (lg) {
         bottom: 283px;
     }
      @include breakpoint (md) {
         right: 80px;
         position: relative;
         bottom: -572px;
     }
      @include breakpoint (sm) {
         margin: 0 auto;
         position: static;
     }
      &-number {
         font-weight: 700;
         font-size: 50px;
         background: linear-gradient(45deg, #FFCC00 33%, #FFA300 66%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         display: table;
         margin-top: -8px;
         font-family: 'ProximaNova';
         @include breakpoint (xxl) {
            font-size: 28px;
            margin-top: -5px;
        }
         @include breakpoint (sm) {
            margin-left: 5px;
            letter-spacing: 1px;
        }
     }
      &-decore {
         width: 60px;
         @include breakpoint (xxl) {
            width: 40px;
        }
     }
      &-work {
         font-size: 20px;
         @include breakpoint (xxl) {
            font-size: 14px;
            line-height: 19px;
        }
     }
  }
}
.content {
   margin-top: 101px;
   text-align: center;
   @include breakpoint (xxl) {
      margin-top: 243px;
  }
   @include breakpoint (xl) {
      margin-top: 133px;
  }
   @include breakpoint (md) {
      margin-top: 166px;
  }
   @include breakpoint (sm) {
      margin-top: 57px;
  }
   &__title {
      font-weight: 800;
      font-size: 48px;
      max-width: 1000px;
      margin: 0 auto;
      letter-spacing: -0.5px;
      padding-right: 27px;
      line-height: 48px;
      margin-bottom: 37px;
      @include breakpoint (xxl) {
         font-weight: 700;
         letter-spacing: 0.4px;
         font-size: 43px;
         line-height: 45px;
         max-width: 891px;
     }
      @include breakpoint (xl) {
         letter-spacing: 0.1px;
         font-size: 36px;
         max-width: 700px;
         line-height: 36px;
         margin-left: 83px;
         margin-bottom: 28px;
     }
      @include breakpoint (md) {
         margin-left: 17px;
         margin-bottom: 32px;
         letter-spacing: 0.4px;
     }
      @include breakpoint (sm) {
         font-size: 22px;
         width: 100%;
         padding: 0;
         margin-left: 0;
         line-height: 23px;
         margin-bottom: 20px;
     }
  }
   &__experts {
      font-weight: 500;
      font-size: 26px;
      padding-right: 30px;
      margin-bottom: 75px;
      @include breakpoint (xxl) {
         font-size: 20px;
     }
      @include breakpoint (xl) {
         font-size: 16px;
         margin-bottom: 56px;
         margin-left: 29px;
     }
      @include breakpoint (md) {
         margin-left: 28px;
         margin-bottom: 56px;
     }
      @include breakpoint (sm) {
         font-size: 14px;
         line-height: 19px;
         margin-bottom: 37px;
     }
  }
}
.item {
   margin-right: 28px;
   position: relative;
   @include breakpoint (xxl) {
      margin-right: 0px;
  }
   &__img {
      border-radius: 50%;
      max-width: 223px;
      margin: 0 auto;
      margin-bottom: 36px;
      @include breakpoint (xxl) {
         margin-bottom: 50px;
     }
      @include breakpoint (xl) {
         margin-bottom: 40px;
     }
      @include breakpoint (md) {
         max-width: 165px;
         margin-bottom: 30px;
     }
      @include breakpoint (sm) {
         max-width: 210px;
         margin-bottom: 22px;
     }
  }
   &__name {
      font-weight: 700;
      font-size: 26px;
      text-align: center;
      margin-bottom: 12px;
      @include breakpoint (xxl) {
         font-size: 22px;
         margin-bottom: 14px;
     }
      @include breakpoint (xl) {
         font-size: 20px;
     }
      @include breakpoint (sm) {
         font-size: 18px;
     }
  }
   &__profession {
      font-size: 18px;
      text-align: center;
      min-height: 100px;
      margin: 0 auto;
      padding: 0 39px;
      line-height: 25px;
      @include breakpoint (xxl) {
         font-size: 16px;
         padding: 0 13px;
         line-height: 20px;
         min-height: 104px;
     }
      @include breakpoint (xl) {
         margin-bottom: 60px;
         font-size: 14px;
         line-height: 17px;
         padding: 0 50px;
     }
      @include breakpoint (lg) {
         min-height: 110px;
         padding: 0 30px;
     }
      @include breakpoint (md) {
         padding: 1px 18px;
     }
      @include breakpoint (sm) {
         padding: 0 40px;
         margin-bottom: 45px;
         min-height: 110px;
     }
  }
   &__info {
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint (xxl) {
         margin-top: -14px;
         margin-left: 15px;
         padding: 0 4px;
     }
      @include breakpoint (xl) {
         margin-top: -57px;
         padding: 0 41px;
         align-items: start;
     }
      @include breakpoint (md) {
         padding: 0 3px;
         margin-left: 17px;
         margin-top: -61px;
     }
      @include breakpoint (sm) {
         padding: 0 19px;
         margin-left: 26px;
     }
  }
   &__work {
      font-size: 16px;
      @include breakpoint (xl) {
         font-size: 14px;
         text-align: start;
         line-height: 17px;
         margin-bottom: 18px;
     }
      &-decore {
         width: 24px !important;
         height: 24px;
         margin-top: -13px;
         margin-left: -19px;
         margin-right: 9px;
         @include breakpoint (xl) {
            height: 15px;
            margin-top: 0;
            margin-right: 9px;
            margin-left: -15px;
        }
         @include breakpoint (md) {
        }
         @include breakpoint (sm) {
            margin-top: 8px;
        }
     }
  }
   &__comment {
      &-one, &-two, &-three, &-four {
         align-items: center;
         font-size: 16px;
         display: flex;
         margin: 0 auto;
         text-align: start;
         border-radius: 25px;
         margin: 0 auto;
         line-height: 20px;
         padding: 0px 43px;
         margin-top: 18px;
         background-color: rgba(128, 128, 128, 0.178);
         @include breakpoint (xxl) {
            margin-top: 19px !important;
            padding: 0 2px 0 12px;
        }
         @include breakpoint (xl) {
            font-size: 14px;
            padding: 0 15px;
            margin-top: 1px !important;
        }
         @include breakpoint (md) {
            font-size: 12px;
            width: 100%;
            line-height: 14px;
        }
         @include breakpoint (sm) {
            width: 72%;
            margin: 0 auto;
        }
     }
      &-one {
         min-height: 83px;
         padding-right: 49px;
         @include breakpoint (xxl) {
            margin: 0 14px;
        }
         @include breakpoint (xl) {
            padding: 0 48px 0 12px;
        }
         @include breakpoint (md) {
            margin-left: 0;
            padding: 0 48px 0 8px;
        }
         @include breakpoint (sm) {
            margin: 0 auto;
        }
     }
      &-two {
         min-height: 99px;
         @include breakpoint (xxl) {
            min-height: 99px;
            margin: 0 14px;
        }
         @include breakpoint (xl) {
            margin-top: 0;
            padding: 23px 13px;
            line-height: 18px;
        }
         @include breakpoint (md) {
            margin-left: 0px;
            padding: 0 11px;
        }
         @include breakpoint (sm) {
            margin: 0 auto;
        }
     }
      &-three {
         min-height: 61px;
         @include breakpoint (xxl) {
            margin: 0 14px;
        }
         @include breakpoint (xl) {
            padding: 2px 12px;
        }
         @include breakpoint (md) {
            margin-left: 0;
            padding: 0 12px;
            margin-top: 3px;
        }
         @include breakpoint (sm) {
            margin: 0 auto;
        }
     }
      &-four {
         padding-top: 14px;
         min-height: 88px;
         padding-right: 92px;
         @include breakpoint (xxl) {
            margin: 0 14px;
            padding-right: 30px;
            padding-bottom: 5px;
        }
         @include breakpoint (xl) {
            padding: 0 17px;
        }
         @include breakpoint (md) {
            margin-left: 0;
            padding-top: 0;
        }
         @include breakpoint (sm) {
            margin: 0 auto;
        }
     }
  }
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
   --bs-gutter-x: 0 !important;
}
.owl-carousel {
   position: relative;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
   display: block;
}
.owl-nav {
   position: absolute;
   width: 100%;
   top: 33%;
   @include breakpoint (xxl) {
      top: 34%;
  }
   @include breakpoint (xl) {
      top: 37%;
  }
   @include breakpoint (md) {
      top: 28%;
  }
}
.owl-prev{
   border-color: white;
   border-radius: 50% !important;
   width: 70px;
   box-shadow: 0px 6px 30px rgba(0, 0, 0 , 0.15);
   height: 70px;
   left: -41px;
   position: absolute;
   font-size: 26px !important;
   transition: 0.4s;
   @include breakpoint (xl) {
      height: 56px;
      width: 56px;
      left: -35px;
  }
   @include breakpoint (sm) {
      height: 45px;
      width: 45px;
      left: -9px;
  }
}
.owl-prev:hover, .owl-next:hover {
   width: 65px;
   height: 65px;
   @include breakpoint (xl) {
      width: 50px;
      height: 50px;
  }
   @include breakpoint (sm) {
      width: 40px;
      height: 40px;
  }
}
.owl-next {
   right: -24px;
   position: absolute;
   border-color: white;
   border-radius: 50% !important;
   width: 70px;
   box-shadow: 0px 6px 30px rgba(0, 0, 0 , 0.15);
   height: 70px;
   font-size: 26px !important;
   transition: 0.4s;
   @include breakpoint (xxl) {
      right: -52px;
  }
   @include breakpoint (xl) {
      height: 56px;
      width: 56px;
      right: -44px;
  }
   @include breakpoint (sm) {
      height: 45px;
      width: 45px;
      right: -22px;
  }
}
.owl-dot {
   background: transparent;
   margin: 0 9px;
   @include breakpoint (xxl) {
  }
}
.owl-dot.active span {
   border: 3px solid black;
   width: 12px !important;
   height: 12px !important;
   @include breakpoint (sm) {
      border: 1px solid black;
      width: 7px !important;
      height: 7px !important;
  }
}
.owl-dot span {
   border: 3px solid black;
   width: 5px !important;
   height: 5px !important;
   @include breakpoint (sm) {
      border: 2px solid black;
      width: 3px !important;
      height: 3px !important;
  }
}
.owl-dots {
   margin-top: 79px;
   margin-left: -26px;
   align-items: center;
   display: flex;
   justify-content: center;
   @include breakpoint (xxl) {
      margin-top: 87px;
  }
   @include breakpoint (xl) {
      margin-top: 54px;
  }
   @include breakpoint (md) {
      margin-top: 42px;
  }
   @include breakpoint (sm) {
      margin-top: 5px;
      margin-left: 7px;
  }
}
.shops {
   margin-top: 121px;
   @include breakpoint (xxl) {
      margin-top: 126px;
  }
   @include breakpoint (xl) {
      margin-top: 108px;
  }
   @include breakpoint (md) {
      margin-top: 108px;
      margin-left: 8px;
  }
   @include breakpoint (sm) {
      margin-top: 73px;
      margin-left: -8px;
  }
   &__box-1920 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      @include breakpoint (xxl) {
         display: none;
     }
  }
   &__box-1366 {
      display: none;
      @include breakpoint (xxl) {
         display: contents;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 40px;
     }
      @include breakpoint (xl) {
         display: none;
     }
  }
   &__box-1024 {
      display: none;
      @include breakpoint (xl) {
         display: contents;
         margin-bottom: 40px;
     }
  }
   &__title {
      font-weight: 800;
      font-size: 60px;
      margin-bottom: 52px;
      @include breakpoint (xxl) {
         font-size: 50px;
         line-height: 52px;
         margin-bottom: 60px;
     }
      @include breakpoint (xl) {
         font-size: 40px;
         margin-bottom: 36px;
     }
      @include breakpoint (md) {
         margin-bottom: 34px;
     }
      @include breakpoint (sm) {
         font-size: 26px;
         text-align: center;
         margin-bottom: 20px;
     }
  }
   &__text {
      font-size: 20px;
      margin-bottom: 27px;
      line-height: 29px;
      @include breakpoint (xxl) {
         font-size: 18px;
         line-height: 27px;
         margin-right: -29px;
         letter-spacing: 0.3px;
     }
      @include breakpoint (xl) {
         font-size: 14px;
         line-height: 21px;
         letter-spacing: 0;
         margin-right: 0;
         margin-bottom: 21px;
     }
      @include breakpoint (md) {
         line-height: 20px;
         margin-bottom: 22px;
     }
  }
   &__info {
      flex: 50%;
      padding: 0 26px;
      margin-top: -30px;
      @include breakpoint (xl) {
         padding: 0;
     }
      @include breakpoint (md) {
         margin-left: -10px;
     }
      @include breakpoint (sm) {
         margin-left: 0;
     }
  }
   &__points {
      display: flex;
      justify-content: space-between;
  }
   &__img {
      flex: 47%;
  }
   &__btn {
      border: 2px solid black;
      border-radius: 30px;
      padding: 18px 25px;
      margin-top: 11px;
      background: white;
      @include breakpoint (xxl) {
         padding: 13px 25px;
     }
      @include breakpoint (xl) {
         padding: 13px 12px;
         margin-bottom: 42px;
         margin-top: 9px;
     }
      @include breakpoint (md) {
         padding: 13px;
         margin-top: 13px;
     }
      @include breakpoint (sm) {
         padding: 13px;
         width: 100%;
         text-align: center;
         margin-top: 5px;
         margin-bottom: 23px;
     }
      &-link {
         font-size: 18px;
         color: black;
         font-weight: 700;
         padding: 25px 15px;
         text-decoration: none;
         transition: 0.4s;
         @include breakpoint (xxl) {
            font-size: 16px;
        }
         @include breakpoint (xl) {
            font-size: 14px;
        }
     }
      &-link:hover {
         color: black;
         opacity: 0.7;
     }
  }
}
.shops {
   &__points {
      &-1920 {
         display: flex;
         width: 97%;
         justify-content: space-between;
         align-items: center;
         @include breakpoint (xxl) {
            display: none;
        }
     }
      &-1366 {
         display: none ;
         @include breakpoint (xxl) {
            display: contents;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 93%;
        }
         @include breakpoint (xl) {
            display: none;
        }
     }
      &-1024 {
         display: none;
         @include breakpoint (xl) {
            display: contents;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include breakpoint (sm) {
               flex-direction: column;
               margin-left: 7px;
           }
        }
     }
      &-two {
         margin-right: 38px;
         width: 50%;
         @include breakpoint (xxl) {
            width: 52%;
        }
         @include breakpoint (xl) {
            width: auto;
            margin-right: 0;
        }
     }
      &-three {
         width: 50%;
         @include breakpoint (xxl) {
            width: 52%;
        }
         @include breakpoint (xl) {
            width: auto;
        }
     }
  }
   &__point {
      max-width: 263px;
      @include breakpoint (md) {
         max-width: 196px;
         margin-left: -10px;
     }
      @include breakpoint (sm) {
         max-width: 105%;
         width: 104%;
         margin: 11px 1px;
     }
  }
   &__point:not(:last-child) {
      margin-right: 10px;
      @include breakpoint (md) {
         margin-right: 25px;
     }
      @include breakpoint (md) {
         margin-right: 0;
     }
  }
}